#dragger {
	display: none;
}

#dragger.visible {
	display: block;
	position: absolute;
	background-color: transparent;
	pointer-events: none;
	z-index: 1000001;
	border-radius: 1px;
	border: 1px dashed rgba(255, 255, 255, 0.8);
}

#citavipickerscreenshotoverlay {
	user-select: none;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background-color: transparent;
	overflow-x: hidden;
	z-index: 100000000000;
	cursor: crosshair;
}

#citavipickerscreenshotoverlaytop {
	background-color: rgba(0,0,0, 0.3);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#citavipickerscreenshotoverlayleft {
	background-color: rgba(0,0,0, 0.3);
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
}

#citavipickerscreenshotoverlaybottom {
	background-color: rgba(0,0,0, 0.3);
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

#citavipickerscreenshotoverlayright {
	background-color: rgba(0,0,0, 0.3);
	position: absolute;
	right: 0px;
	bottom: 0px;
	top: 0px;
}

#citavipickerscreenshotacceptDrag {
	width: 24px;
	height: 24px;
	background-color: white;
	background-size:24px;
	position: absolute;
	cursor: pointer;
	display: none;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/okay_o.svg');
	background-repeat: no-repeat;
}

#citavipickerscreenshotcancelDrag {
	width: 24px;
	height: 24px;
	background-color: white;
	background-size: 24px;
	position: absolute;
	cursor: pointer;
	display: none;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/cancel_o.svg');
	background-repeat: no-repeat;
}

#citavipickerscreenshothover {
	animation: fade-in 125ms forwards cubic-bezier(0.07, 0.95, 0, 1);
	background: rgba(255, 255, 255, 0.2);
	border-radius: 1px;
	pointer-events: none;
	position: absolute;
	z-index: 10000000000;
}
